.page{
    width: 780px;
    margin: auto;
    font-size : 16px;
}
.entête{
    height: 320px;
}
.intro{
    float: left;
    margin-right: 300px;
}
.photo{
    float: right;
}
.section{
    margin-bottom: 70px;
}
.gauche{
    float: left;
}
.centre{
    margin-left: 150px;
}